<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-wrapper">
        <div class="container">
            <img src="{{ url_for('static', filename='chip_n_dale.png') }}" alt="Chip and Dale" class="image-in-container">
            <h2>Main</h2>
            <form action="/llama" method="post">
                <input type="submit" value="LLAMA Deepseek Chatbot">
            </form>
            <form action="/sealion" method="post">
                <input type="submit" value="Sealion chatbot">
            </form>
            <form action="/dbs" method="post">
                <input type="submit" value="Predict DBS price">
            </form>
            <form action="/telegram" method="post">
                <input type="submit" value="Start Telegram">
            </form>
            <form action="/stop_telegram" method="post">
                <input type="submit" value="Stop Telegram">
            </form>
            <form action="/user_log" method="get">
                <input type="submit" value="User Logs">
            </form>
            <form action="/delete_all_logs" method="post" onsubmit="return confirm('Are you sure you want to delete all logs?');">
                <input type="submit" value="Delete All Logs">
            </form>
            <form action="/emotion" method="get">
                <input type="submit" value="Open Emotion Interface">
            </form>
        </div>
    </div>
</body>
</html>
